* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 50px auto;
    border-radius: 4px;
    position: relative;
    background-color: aqua;
}

.box {
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    animation-name: myanime;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay:1s;
    position: absolute;
    border-radius: 50%;
}
.box:nth-child(2) {
    animation-delay:1.1s;
    background-color: pink;
}
.box:nth-child(3) {
    animation-delay:1.2s;
    background-color: green;
}
.box:nth-child(4) {
    animation-delay: 1.3s;
    background-color: yellow;
}
.box:nth-child(5) {
    animation-delay: 1.4s;
    background-color: brown;
}
.box:nth-child(6) {
    animation-delay: 1.5s;
    background-color: rgb(251, 0, 255);
}
.box:nth-child(7) {
    animation-delay: 1.6s;
    background-color: rgb(42, 165, 153);
}


@keyframes myanime {
    0% {
        transform: translateX(0);
    }
    
    10% {
        transform: translateX(400px) translateY(50px);
    }

    20% {
        transform: translateX(0) translateY(100px);
    }
    
    30% {
        transform: translateX(400px) translateY(150px);
    }
    40% {
        transform: translateX(0) translateY(200px);
    }
    
    50% {
        transform: translateX(400px) translateY(250px);
    }
    60% {
        transform: translateX(0) translateY(300px);
    }
    
    70% {
        transform: translateX(400px) translateY(350px);
    }
    
    80% {
        transform: translateX(0) translateY(400px);
    }
    
    90% {
        transform: translateX(400px) translateY(400px);
    }
    100% {
        transform: translateX(0);
    }
}

.box2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    bottom:0;
    animation: myanime2 infinite 3s;
}
.box2:nth-child(6) {
   left: 200px;
   background-color: red;
   animation-delay:0.2s;
}
.box2:nth-child(7) {
    left: 400px;
    background-color: cadetblue;
    animation-delay:0.4s;
 }
 .box2:nth-child(8) {
    left: 400px;
    background-color: rgb(255, 0, 0);
    animation-delay:0.5s;
 }
 
 
 @keyframes myanime2 {
0%{
    transform: translateY(0);
}
25%{
    transform: translateY(0);
}
50%{
    transform: translateY(0);
}
75%{
    transform: translateY(-400px);
}
 }